.index-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
.title {
    text-align: center;
    font-size: 1.75em;
}
.logo {
    text-align: center;
}
.login-area {
    margin-top: 15px;
}
.custom-checkbox {
    text-align: center;
    margin-top: 15px;
}
#inputEmail, #inputAccessCode, #inputToken {
    height: 60px;
    margin-top: 25px;
}
.btn-signin {
    width: 100%;
    font-size: 1.25em;
    margin-top: 30px;
}
.alert-valid {
  position:absolute;
  color: red
}